<!DOCTYPE html>
<html lang="en" class="page">
    {% include 'parts/_head.html' %}

    <body class="page__body">
        {% include 'parts/_header.html' %}

        {% include 'parts/_hero_top.html' %}

        {% include 'parts/_categories.html' %}

        {% include 'parts/_women_fashion.html' %}

        {% include 'parts/_men_fashion.html' %}

        {% include 'parts/_styles.html' %}

        {% include 'parts/_hero_bottom.html' %}

        {% include 'parts/_footer.html' %}

        <script src="js/app.min.js"></script>
    </body>
</html>