{%
  set items = [
    {
      brand: 'Igure',
      title: 'Green muscle fit polo shirt',
      img: '../img/man1.jpg',
      oldPrice: '220$',
      newPrice: '129$'
    },
    {
      brand: 'Igure',
      title: 'Green muscle fit polo shirt',
      img: '../img/man2.jpg',
      oldPrice: '220$',
      newPrice: '129$'
    },
    {
      brand: 'Igure',
      title: 'Green muscle fit polo shirt',
      img: '../img/man3.jpg',
      oldPrice: '220$',
      newPrice: '129$'
    },
    {
      brand: 'Igure',
      title: 'Green muscle fit polo shirt',
      img: '../img/man4.jpg',
      oldPrice: '220$',
      newPrice: '129$'
    }
  ]
%}

{% set title = 'Men\'s fashion' %}

{% include 'parts/_fashion.html' %}
