{%
  set items = [
    {
      brand: 'Igure',
      title: 'Green muscle fit polo shirt',
      img: '../img/woman1.jpg',
      oldPrice: '220$',
      newPrice: '129$'
    },
    {
      brand: 'Igure',
      title: 'Green muscle fit polo shirt',
      img: '../img/woman2.jpg',
      oldPrice: '220$',
      newPrice: '129$'
    },
    {
      brand: 'Igure',
      title: 'Green muscle fit polo shirt',
      img: '../img/woman3.jpg',
      oldPrice: '220$',
      newPrice: '129$'
    },
    {
      brand: 'Igure',
      title: 'Green muscle fit polo shirt',
      img: '../img/woman4.jpg',
      oldPrice: '220$',
      newPrice: '129$'
    }
  ]
%}

{% set title = 'Women\'s fashion' %}

{% include 'parts/_fashion.html' %}
