.page {
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  // background: #c5c5c5;
  background-color: #fff;
  color: $black;

  // &__body {
    // border-radius: 60px;
    // background-color: #fff;
  // }

  &__section {
    margin-bottom: 110px;
  }
}